@model WebApplication1.Models.Student
@{
    ViewBag.Title = "AddStudent";
}
<script src="~/Scripts/jquery-2.0.0.js"></script>
<script src="~/jq/Student.js"></script>
<h2>AddStudent</h2>
<div class="container">
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(s => s.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(s => s.Email, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Tel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(s => s.Tel, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(s => s.Name, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.IdCard, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(s => s.IdCard, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(s => s.Address, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>
        <button id="btn" class="btn btn-info col-md-offset-2">提交</button>
    </div>


</div>