@*@model WebApplication1.Models.Products*@
@model List<WebApplication1.Models.Products>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-2.2.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/jq/Table.js"></script>
</head>
<body>
    <div class="container">
        <table id="table" class="table table-hover">
            <tr>
                <th>物品编号</th>
                <th>物品名称</th>
                <th>价格</th>
                <th>数量</th>
                <th>总价</th>
                <th></th>
            </tr>
            @*@foreach (var item in Model)
                {
                        <tr id="@item.Id">
                            <td tt="zzz">@item.ProductId</td>
                            <td tt="xxx">@item.ProductName</td>
                            <td>@item.Price</td>
                            <td>@item.count</td>
                            <td>@item.Pricess</td>
                            <td><a class="btn btn-link" tt="btn">删除</a></td>
                        </tr>
                    }*@

        </table>
        <input type="submit" id="btnAdd" value="添加一行" />
    </div>
    <script type="text/javascript"></script>
</body>
</html>
